.footer{
    color: #9e9e9e;
    position: absolute;
    font-size: 0.6em !important;
    bottom: 0px;
}


div.quote {
    /* color: #F5F5F5; */
    font-style: italic;
    font-size: 1.6em;
}

div.quote_author {
    /* color: #F5F5F5; */
    float: right;
}

.supergreen {
    color: #4caf50;
}

.superred {
    color: #f44336;
}

.superblue {
    color: #2196f3;
}

.airbus_logo{
    background-image: url("../images/AIRBUS_RGB.png");
    background-repeat: no-repeat;
    background-size: contain;

    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 50px;
    /* On met un grand width, c'est la height qui donnera la taille finale */
    width: 900px;

}